* {
    margin: 0;
    padding: 0;
}
/* custom styles */
section {
    background-color: #333;
}
section li a,
section li .overLayer, section li .infoLayer {
    height: 168px;
    width: 250px;
}
section li .infoLayer ul li {
    padding: 5px 0 0;
}
a.button1, button.button1 ,#butt{
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background-position: left;
}
a.button1:hover,button.button1:hover, #butt:hover { background: rgba(255,255,255,.2); }
a.button1:active, button.button1:active, #butt:hover { background: white; }